# Medicinal Plants proyect

### Data getting of the excel document

In [1]:
#The "openpyxl" is prepared to work in our code
!pip install pandas openpyxl

Requirement already satisfied: pandas in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: openpyxl in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: numpy>=1.23.2 in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [2]:
#Data analisis libraries are called
import pandas as pd
import numpy as np

In [3]:
#File path is saved in a variable to use in the following steps
file_path = r'/home/aldrinchp/Documents/Proyecto Plantas/Medicinal_plants_database/Proyecto plantas medicinales.xlsx'
#Excel file is loaded
excel_data = pd.ExcelFile(file_path)

In [4]:
#Find cell function is created to search the row and column in every datasheet of the file
#Input: A data sheet of a excel
#Ouput: Start row and column of that datasheet
def detect_table_start(sheet_data):
    for row_idx, row in sheet_data.iterrows():
        # Check if the row has enough non-NaN values to be a potential header
        if row.notna().sum() > 3:  # Example: At least 4 non-NaN values
            # Find the first non-NaN column index
            col_idx = row.first_valid_index()
            return int(row_idx+2), int(col_idx) # Return the starting row and column
    return None, None  # Return None if no table start is found

#Adjust the dataframes of a excel file
#Input: File path
#Output: Dictionary of dataframes
def adjust_the_sheets(file_path):
    dict_dataframes = {}
    excel_data = pd.ExcelFile(file_path)
    i = 0
    for sheet_name in excel_data.sheet_names:
        sheet_data = pd.read_excel(file_path,sheet_name=sheet_name,header=None,engine = 'openpyxl')
        row_idx,col_idx = detect_table_start(sheet_data)
        if i != 4:
            ##
            print(f"Sheet {sheet_name} start at {row_idx} row and {col_idx} column")
            ##
            dict_dataframes[sheet_name] = sheet_data.iloc[row_idx:,col_idx:]
        else:
            ##
            Corrected_sheet = 'Cotacachi'
            print(f"Sheet {Corrected_sheet} start at {row_idx} row and {col_idx} column")
            ##
            dict_dataframes[Corrected_sheet] = sheet_data.iloc[row_idx:,col_idx:]
        i += 1
    return dict_dataframes

In [5]:
#Datasheets are set in a dictionary
cities_dataframes = adjust_the_sheets(file_path)

Sheet Antonio Ante start at 2 row and 0 column
Sheet Urcuqu√≠ start at 3 row and 1 column
Sheet Pimampiro start at 4 row and 0 column
Sheet Otavalo start at 3 row and 0 column
Sheet Cotacachi start at 3 row and 0 column
Sheet Ibarra start at 3 row and 1 column
Sheet formato start at 4 row and 2 column

In [6]:
#cities_dataframes['Antonio Ante']
#cities_dataframes['Pimampiro']
#cities_dataframes['Cotacachi']

In [7]:
#Last sheet is deleted
cities_dataframes.pop('formato')

    2    3    4    5    6    7    8    9    10   11   12  13  14
4    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
5    2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
6    3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
7    4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
8    5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
9    6  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
10   7  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
11   8  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
12   9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
13  10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
14  11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
15  12  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN

In [8]:
#A list of all places of the databases are created
places_list = list(cities_dataframes.keys())
#Places of the list are printed (List)
places_list

['Antonio Ante', 'Urcuqu√≠', 'Pimampiro', 'Otavalo', 'Cotacachi', 'Ibarra']

In [9]:
temporal_dataframe = pd.read_excel(file_path, sheet_name=places_list[0])
type_uses = temporal_dataframe.iloc[0,4:7].tolist()
print(type_uses)

['Ancestral reportado/ no comprobado', 'Ancestral segun fuentes vivas', 'Cientificamente comprobado ']

In [10]:
#Current and scientific names are obtained from datasheets and set in a dictionary
plants_dict = {}
for place in places_list:
    list_of_lists_names = []
    for i in range(cities_dataframes[place].shape[0]):
        list_of_lists_names.append(cities_dataframes[place].iloc[i,2:4].tolist())
    plants_dict[place] = list_of_lists_names
#Current and scientific names are printed (Dictionary)
plants_dict[places_list[4]]

[['Llant√©n', 'Plantago major'],
 ['Flor de Tilo', 'Tilia platyphyllos Scop'],
 ['Hierba Mora', 'Solanum americanum'],
 ['Borraja', 'Borago officinalis L.\nBOR-001'],
 ['Tomillo', 'Thymus vulgaris L.\nLAM-022'],
 ['Eucalipto', 'Eucalyptus globulus\nLabill.\nMYR-021'],
 ['Verbena', 'Verbena litoralis Kunth\nVER-008'],
 ['Ruda', 'Ruta graveolens L.\nRUT-001'],
 ['Matico', 'Piper aduncum L.\nPIP-008'],
 ['Menta', 'Mentha piperita L.\nLAM-006'],
 ['Arrayan ', 'Myrtus communis L.\nMYR-025 '],
 ['U√±a de gato', 'Acacia macracantha\nHumb. & Bonpl. ex\nWilld. LEG-005'],
 ['Chulco', 'Aciotis rubricaulis\nTriana\nMEL-019'],
 ['Ajo', 'Allium sativum L.'],
 ['Zorro guigua', 'Alopecurus spp.\nPOA-023'],
 ['cedr√≥n', 'Aloysia citriodora\nVER-009'],
 ['Marco', 'Ambrosia arborescens\nLam. AST-013'],
 ['Eneldo', 'Anethum graveolens L.\nAPI-011'],
 ['Apio', 'Apium graveolens L.\nAPI-008'],
 ['√ëachag', 'Bidens andicola Kunth\nAST-025'],
 ['Pacunga', 'Bidens pilosa L.\nAST-019'],
 ['Platanillo', 'Canna coccinea Mill.\nCAN-011'],
 ['Hierba de perro', 'Castela tortuosa Liebm'],
 ['Paico', 'Chenopodium\nambrosioides L.\nCHE-002'],
 ['Canela', 'Cinnamomum verum J.\nPresl Lau-021'],
 ['Botoncillo', 'Conocarpus erectus\nCOM-018'],
 ['Mosquera', 'Croton elegans\nEUP-001'],
 ['Corotilla', 'Cumulopuntia corotilla\nK. Schum. ex Vaupel\nCAC-011'],
 ['Hierba Luisa', 'Cymbopogon citratus\nStapf.'],
 ['Iso', 'Dalea coerulea'],
 ['Chupa caballo,\nCola de caballo', 'Equisetum giganteum L.\nEQU-007'],
 ['Geranio', 'Geranium spp.\nGER-001'],
 ['Cerote', 'Hesperomeles obtusifolia\n(Pers.)Lindl.\nROS-016'],
 ['Nogal', 'Juglans nigra L.\nJUG-001'],
 ['Linaza', 'Linum usitatissimum L.\nLIN-013'],
 ['Manzanilla', 'Matricaria\nchamomilla L.\nAST-002'],
 ['Hierba buena', 'Mentha spicata L.\nLAM-005'],
 ['Albahaca', 'Ocimum basilicum L.\nLAM-011'],
 ['Mejorana', 'Origanum majorana L.\nLAM-007'],
 ['Or√©gano', 'Origanum vulgare L.\nLAM-004'],
 ['Pata conyuyo', 'Peperomia peltigera\nC.DC.\nPIP-021'],
 ['Perejil', 'Petroselinum crispum\n(Mill.) Fuss\nAPI-010'],
 ['Diente de le√≥n', 'Taraxacum officinale'],
 ['Ortiga', 'Urtica dioica L.\nURT-001']]

In [11]:
#Uses and their descriptions are obtained form datasheets
use_dict = {}
for place in places_list:
    list_per_city = []
    for i in range(cities_dataframes[place].shape[0]):
        list_per_plant = []
        count = 0
        for use in type_uses:
            list_per_plant.append([cities_dataframes[place].iloc[i,4+count],use])
            count = count+1
        list_per_city.append(list_per_plant)
    use_dict[place] = list_per_city
#Uses and their descriptions are printed (Dictionary)
use_dict[places_list[2]][3]

[['\xa0Ingerida como tratamiento para\xa0diarrea,\xa0disenter√≠a, para evitar el estre√±imiento, la indigesti√≥n,\xa0flatulencia, contra la\xa0ictericia\xa0y como\xa0laxante. La infusi√≥n de hojas como purgante y la ra√≠z como diafor√©tico y diur√©tico.7\u200b3\u200b',
  'Ancestral reportado/ no comprobado'],
 ['Sin informaci√≥n', 'Ancestral segun fuentes vivas'],
 [nan, 'Cientificamente comprobado ']]

In [12]:
#Previous research are obtained from datasheets
research_prev_dict = {}
for place in places_list:
    list_prev_res = []
    for i in range(cities_dataframes[place].shape[0]):
        list_prev_res.append(cities_dataframes[place].iloc[i,10:13].tolist())
    research_prev_dict[place] = list_prev_res
#Previous research are printed
research_prev_dict[places_list[0]][18]
#research_prev_dict[places_list[4]][13]

['Sapkota, B., Devkota, H. P., & Poudel, P. (2022). Citrus maxima (Brum.) Merr. (Rutaceae): Bioactive Chemical Constituents and Pharmacological Activities. Evidence-based Complementary And Alternative Medicine, 2022, 1-16. https://doi.org/10.1155/2022/8741669                                                                              https://onlinelibrary.wiley.com/doi/full/10.1155/2022/8741669',
 nan,
 '\xa0']

In [13]:
#Toponimo features are obtained from datasheets
toponimo_dict = {}
for place in places_list:
    list_topo = []
    for i in range(cities_dataframes[place].shape[0]):
        list_topo.append(cities_dataframes[place].iloc[i,7:10].tolist())
    toponimo_dict[place] = list_topo
#Toponimo features are printed 
toponimo_dict[places_list[4]]

[['The native range of this species is Temp. Eurasia to Arabian Peninsula, Macaronesia, N. & S. Africa.(1)',
  'Se comercializan las hojas  frescas',
  'Sede del Jambi Mascari en Cotacachi'],
 ['The native range of this species is Azores, Europe to W. Iran (1)',
  'Se comercializan las hojas y flores',
  'Cotacahi, Quiroga '],
 ['The native range of this species is W. & S. Europe to Temp. E. Asia, Macaronesia, N. & NE. Tropical Africa. (1)',
  'Se comercializan las hojas y flores',
  'Cotacahi, Quiroga , Azama'],
 ['The native range of this species is W. & Central Medit (1)',
  nan,
  'Cotacachi/ Laguna de cuicocha '],
 ['The native range of this species is SW. Europe, SE. Italy (1)', nan, nan],
 ['The native range of this species is S. Victoria to E. Tasmania. (1)',
  nan,
  nan],
 ['The native range of this species is Mexico to S. Tropical America.(1)',
  nan,
  nan],
 ['The native range of this genus is Macaronesia, Medit.(1)', nan, nan],
 ['The native range of this species is Mexico to Tropical America.(1)',
  nan,
  nan],
 ['The native range of this hybrid is Europe to Central Asia. (1)', nan, nan],
 ['Antonio Ante, Ibarra y OtavaloThe native range of this species is Macaronesia to Pakistan (1)',
  nan,
  nan],
 ['The native range of this species is Central & S. Tropical America to Trinidad. (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is Central Asia to NE. Iran (1)',
  nan,
  'Los Andes Cotacachi Jatuk Cem'],
 ['Antonio Ante, Ibarra y Otavalo', nan, 'Los Andes Cotacachi Jatuk Cem'],
 ['The native range of this species is S. Bolivia to NW. Argentina. (1)',
  nan,
  nan],
 ['The native range of this species is W. South America to Chile (Coquimbo) (1)',
  nan,
  nan],
 ['The native range of this species is Canary Islands, Medit. to Arabian Peninsula. (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, 'Los Andes Cotacachi Jatuk Cem'],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is America, Subantarctic Islands (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['(1)anti-inflammatory, in the treatment of toothache, wounds, tonsillitis an warts. It is also a powerful purgative',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is S. India, Sri Lanka. (1)', nan, nan],
 ['The native range of this species is W. South America.(1)', nan, nan],
 ['The native range of this species is Subarctic & Temp. Northern Hemisphere. (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is Macaronesia, N. Africa, Temp. Eurasia to Indo-China.  (1)',
  nan,
  nan],
 ['The native range of this species is Europe to China. (1)',
  'Cotama, Silvestre, se comercializa la flor y las hojas',
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is Macaronesia to China. (1)', nan, nan],
 ['The native range of this species is Ecuador. (1)', nan, nan],
 ['Occurs naturally in Western Europe from the British Isles\nto the Iberian Peninsula (2)',
  nan,
  nan],
 ['The native range of this species is Macaronesia, Europe to Siberia, NW. Africa (1)',
  nan,
  'Comunidades de Quitugo '],
 ['The native range of this species is Europe to Siberia and W. China, NW. Africa.(1)',
  nan,
  nan]]

In [14]:
#Total of register plants are obtained
total_plants = 0
for key, item in plants_dict.items():
    total_plants = total_plants + len(item)
    print(f"Plants in {key} are {len(item)}")
#Total plants is printed
total_plants

Plants in Antonio Ante are 42
Plants in Urcuqu√≠ are 34
Plants in Pimampiro are 10
Plants in Otavalo are 19
Plants in Cotacachi are 44
Plants in Ibarra are 31

180

### Data cleaning of the excel document

In [15]:
!pip install nltk

Requirement already satisfied: nltk in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (3.9.1)
Requirement already satisfied: click in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from nltk) (4.67.1)

[notice] A new release of pip is available: 25.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [16]:
import nltk
import re

In [17]:
from nltk.tokenize import sent_tokenize
nltk.download('punkt_tab')

# Descargar datos necesarios para la tokenizaci√≥n de oraciones (solo es necesario una vez)
nltk.download('punkt')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     /home/aldrinchp/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package punkt to /home/aldrinchp/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [18]:
#Input: A list
#Output: A corrected list
def correct_string(lista,option):
    for i in range(len(lista)):
        if pd.isna(lista[i]):
            continue
        
        # Eliminar saltos de l√≠nea y espacios adicionales
        lista[i] = lista[i].replace('\n', ' ').strip()
        lista[i] = re.sub(r'\s+', ' ', lista[i])  # Eliminar espacios m√∫ltiples

        if lista[i] == '':
                lista[i] = np.nan
            
        if option == 1:
            palabras = lista[i].split()
            palabras[0] = palabras[0].capitalize()
            lista[i] = " ".join(palabras)
            
            
        elif option == 2:
            # Dividir en oraciones y capitalizar cada una
            lista[i] = re.sub(r'[^\w\s.,;:!?¬°¬ø√°√©√≠√≥√∫√Å√â√ç√ì√ö√±√ë]', '', lista[i]) #Mantener caracteres Unicode imprimibles**
            sentences = sent_tokenize(lista[i])
            lista[i] = ' '.join([s.capitalize() for s in sentences])  # Capitalizar cada oraci√≥n
        elif option == 3:
            continue

        
        #r'[^\x20-\x7E\n]'
    return lista
    #Here, It could be deleted and there will be not problem

In [19]:
for city in places_list:
    for plant in plants_dict[city]:
        correct_string(plant,1)
        
plants_dict[places_list[4]]

[['Llant√©n', 'Plantago major'],
 ['Flor de Tilo', 'Tilia platyphyllos Scop'],
 ['Hierba Mora', 'Solanum americanum'],
 ['Borraja', 'Borago officinalis L. BOR-001'],
 ['Tomillo', 'Thymus vulgaris L. LAM-022'],
 ['Eucalipto', 'Eucalyptus globulus Labill. MYR-021'],
 ['Verbena', 'Verbena litoralis Kunth VER-008'],
 ['Ruda', 'Ruta graveolens L. RUT-001'],
 ['Matico', 'Piper aduncum L. PIP-008'],
 ['Menta', 'Mentha piperita L. LAM-006'],
 ['Arrayan', 'Myrtus communis L. MYR-025'],
 ['U√±a de gato', 'Acacia macracantha Humb. & Bonpl. ex Willd. LEG-005'],
 ['Chulco', 'Aciotis rubricaulis Triana MEL-019'],
 ['Ajo', 'Allium sativum L.'],
 ['Zorro guigua', 'Alopecurus spp. POA-023'],
 ['Cedr√≥n', 'Aloysia citriodora VER-009'],
 ['Marco', 'Ambrosia arborescens Lam. AST-013'],
 ['Eneldo', 'Anethum graveolens L. API-011'],
 ['Apio', 'Apium graveolens L. API-008'],
 ['√ëachag', 'Bidens andicola Kunth AST-025'],
 ['Pacunga', 'Bidens pilosa L. AST-019'],
 ['Platanillo', 'Canna coccinea Mill. CAN-011'],
 ['Hierba de perro', 'Castela tortuosa Liebm'],
 ['Paico', 'Chenopodium ambrosioides L. CHE-002'],
 ['Canela', 'Cinnamomum verum J. Presl Lau-021'],
 ['Botoncillo', 'Conocarpus erectus COM-018'],
 ['Mosquera', 'Croton elegans EUP-001'],
 ['Corotilla', 'Cumulopuntia corotilla K. Schum. ex Vaupel CAC-011'],
 ['Hierba Luisa', 'Cymbopogon citratus Stapf.'],
 ['Iso', 'Dalea coerulea'],
 ['Chupa caballo, Cola de caballo', 'Equisetum giganteum L. EQU-007'],
 ['Geranio', 'Geranium spp. GER-001'],
 ['Cerote', 'Hesperomeles obtusifolia (Pers.)Lindl. ROS-016'],
 ['Nogal', 'Juglans nigra L. JUG-001'],
 ['Linaza', 'Linum usitatissimum L. LIN-013'],
 ['Manzanilla', 'Matricaria chamomilla L. AST-002'],
 ['Hierba buena', 'Mentha spicata L. LAM-005'],
 ['Albahaca', 'Ocimum basilicum L. LAM-011'],
 ['Mejorana', 'Origanum majorana L. LAM-007'],
 ['Or√©gano', 'Origanum vulgare L. LAM-004'],
 ['Pata conyuyo', 'Peperomia peltigera C.DC. PIP-021'],
 ['Perejil', 'Petroselinum crispum (Mill.) Fuss API-010'],
 ['Diente de le√≥n', 'Taraxacum officinale'],
 ['Ortiga', 'Urtica dioica L. URT-001']]

In [20]:
for city in places_list:
    for plant in use_dict[city]:
        for element in plant:
            correct_string(element,2)
use_dict[places_list[2]][3]

[['Ingerida como tratamiento para diarrea, disenter√≠a, para evitar el estre√±imiento, la indigesti√≥n, flatulencia, contra la ictericia y como laxante. La infusi√≥n de hojas como purgante y la ra√≠z como diafor√©tico y diur√©tico.73',
  'Ancestral reportado no comprobado'],
 ['Sin informaci√≥n', 'Ancestral segun fuentes vivas'],
 [nan, 'Cientificamente comprobado']]

In [21]:
for city in places_list:
    for plant in research_prev_dict[city]:
            correct_string(plant,3)
research_prev_dict[places_list[0]][18]

['Sapkota, B., Devkota, H. P., & Poudel, P. (2022). Citrus maxima (Brum.) Merr. (Rutaceae): Bioactive Chemical Constituents and Pharmacological Activities. Evidence-based Complementary And Alternative Medicine, 2022, 1-16. https://doi.org/10.1155/2022/8741669 https://onlinelibrary.wiley.com/doi/full/10.1155/2022/8741669',
 nan,
 nan]

In [22]:
for place in places_list:
    for plant in toponimo_dict[place]: 
        correct_string(plant,1)

toponimo_dict[places_list[4]]

[['The native range of this species is Temp. Eurasia to Arabian Peninsula, Macaronesia, N. & S. Africa.(1)',
  'Se comercializan las hojas frescas',
  'Sede del Jambi Mascari en Cotacachi'],
 ['The native range of this species is Azores, Europe to W. Iran (1)',
  'Se comercializan las hojas y flores',
  'Cotacahi, Quiroga'],
 ['The native range of this species is W. & S. Europe to Temp. E. Asia, Macaronesia, N. & NE. Tropical Africa. (1)',
  'Se comercializan las hojas y flores',
  'Cotacahi, Quiroga , Azama'],
 ['The native range of this species is W. & Central Medit (1)',
  nan,
  'Cotacachi/ Laguna de cuicocha'],
 ['The native range of this species is SW. Europe, SE. Italy (1)', nan, nan],
 ['The native range of this species is S. Victoria to E. Tasmania. (1)',
  nan,
  nan],
 ['The native range of this species is Mexico to S. Tropical America.(1)',
  nan,
  nan],
 ['The native range of this genus is Macaronesia, Medit.(1)', nan, nan],
 ['The native range of this species is Mexico to Tropical America.(1)',
  nan,
  nan],
 ['The native range of this hybrid is Europe to Central Asia. (1)', nan, nan],
 ['Antonio Ante, Ibarra y OtavaloThe native range of this species is Macaronesia to Pakistan (1)',
  nan,
  nan],
 ['The native range of this species is Central & S. Tropical America to Trinidad. (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is Central Asia to NE. Iran (1)',
  nan,
  'Los Andes Cotacachi Jatuk Cem'],
 ['Antonio Ante, Ibarra y Otavalo', nan, 'Los Andes Cotacachi Jatuk Cem'],
 ['The native range of this species is S. Bolivia to NW. Argentina. (1)',
  nan,
  nan],
 ['The native range of this species is W. South America to Chile (Coquimbo) (1)',
  nan,
  nan],
 ['The native range of this species is Canary Islands, Medit. to Arabian Peninsula. (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, 'Los Andes Cotacachi Jatuk Cem'],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is America, Subantarctic Islands (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['(1)anti-inflammatory, in the treatment of toothache, wounds, tonsillitis an warts. It is also a powerful purgative',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is S. India, Sri Lanka. (1)', nan, nan],
 ['The native range of this species is W. South America.(1)', nan, nan],
 ['The native range of this species is Subarctic & Temp. Northern Hemisphere. (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is Macaronesia, N. Africa, Temp. Eurasia to Indo-China. (1)',
  nan,
  nan],
 ['The native range of this species is Europe to China. (1)',
  'Cotama, Silvestre, se comercializa la flor y las hojas',
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is Macaronesia to China. (1)', nan, nan],
 ['The native range of this species is Ecuador. (1)', nan, nan],
 ['Occurs naturally in Western Europe from the British Isles to the Iberian Peninsula (2)',
  nan,
  nan],
 ['The native range of this species is Macaronesia, Europe to Siberia, NW. Africa (1)',
  nan,
  'Comunidades de Quitugo'],
 ['The native range of this species is Europe to Siberia and W. China, NW. Africa.(1)',
  nan,
  nan]]

In [23]:
#places_list[1]
#plants_dict[places_list[5]]
#curret_name tm, scitific ob,id_place ob
#toponimo_dict[places_list[5]]
#origin temp, comercial_distr temp, distri temp,id_plant ob
#use_dict[places_list[2]][1]
#type_use ob , description ob, id_plant ob
#research_prev_dict[places_list[4]]
#title tmp, link ob
use_dict[places_list[0]][0]

[['La infusi√≥n de la planta hojas, flores y ramas se usa para tratar el dolor de est√≥mago, c√≥licos intestinales e indigesti√≥n, lavados de la vista y para tratar resfr√≠os, c√≥licos y el dolor de est√≥mago, calmar dolores de abdomen, cabeza, ri;ones y vejiga. Con la planta se realizan ba√±os de vapor para eliminar las espinillas. La infusi√≥n de la planta se usa para tratar la gripe, bronquitis en los ni√±os, golpes, lastimados, diarreas, el c√≥lico fr√≠o e irritaciones de los ojos. Las flores se emplean para aliviar el resfr√≠o de la cabeza. Las flores y ramas se usan para tratar infecciones e hinchazones . La infusi√≥n se usa para tratar inflamaciones, el insomnio, c√≥licos y resfr√≠os. La planta entera, en infusi√≥n, se emplea para tratar afecciones de la piel como granos e inflamaci√≥n en los labios vaginales . Sirve como diur√©tico, antiinflamatorio y antiespasm√≥dico. Se usa para tratar c√≥licos, la diarrea, heridas infectadas, la sordera e irritaci√≥n de los ojos mestiza, etnia no especificadapichincha. Se usa para aliviar c√≥licos etnia no especificadaca√±ar. Utilizada para tratar los espamos y la tos de los resfr√≠os kichwa de la sierratungurahua 3',
  'Ancestral reportado no comprobado'],
 ['Dolor de barriga,', 'Ancestral segun fuentes vivas'],
 ['1 antioxidant, antibacterial, antifungal, anticancer, antidiabetic, antiparasitic, antiinflammatory, antidepressant, antipyretic, antiallergic, and analgesic activities. 2antiproliferative, antimigratory, antiangiogenic, and antiadenoviral activities.',
  'Cientificamente comprobado']]

In [24]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (9.3.0)

[notice] A new release of pip is available: 25.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

### Inserting dataa

In [25]:
import mysql.connector

# Database connection
connection = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="123456789",
    database="Medicinal_plants_proyect"
)

In [26]:
# Verificar conexi√≥n
if connection.is_connected():
    print("Conexi√≥n exitosa a MySQL")
    cursor = connection.cursor()
    cursor.execute("SELECT DATABASE();")
    db_name = cursor.fetchone()
    print("Base de datos actual:", db_name[0])
else:
    print("Fuera de conexion a MySQL")

Conexi√≥n exitosa a MySQL
Base de datos actual: Medicinal_plants_proyect

In [27]:
querys = ["INSERT INTO locations (city_name, province_name) VALUES (%s,%s)",
          "INSERT INTO plants (location_id, current_name, scientific_name) VALUES (%s,%s,%s)",
          "INSERT INTO previous_researches (id_plant, title, link) VALUES (%s,%s,%s)",
          "INSERT INTO toponimos (id_plant, origin, comercial_distribution,distribution) VALUES (%s,%s,%s,%s)",
          "INSERT INTO uses (id_plant, description, type_use) VALUES (%s,%s,%s)",
]

In [28]:
data1 = []
for place in places_list:
    tempo = [place,"Imbabura"]
    data1.append(tempo)
data1

[['Antonio Ante', 'Imbabura'],
 ['Urcuqu√≠', 'Imbabura'],
 ['Pimampiro', 'Imbabura'],
 ['Otavalo', 'Imbabura'],
 ['Cotacachi', 'Imbabura'],
 ['Ibarra', 'Imbabura']]

In [29]:
# Execute the query for multiple records
cursor.executemany(querys[0],data1)
# Commit the changes
connection.commit()
# Confirm the number of rows inserted
print(f"{cursor.rowcount} rows inserted.")

6 rows inserted.

In [30]:
count = 1
number = 0
for place in places_list:
    for plant in plants_dict[place]:
        tempo = plant.copy()
        tempo.insert(0,count)
        cursor.execute(querys[1],tempo)
        number = number + 1
    count = count + 1
# Commit the changes
connection.commit()
# Confirm the number of rows inserted
print(f"{number} rows inserted.")
#Here It is necesarr

180 rows inserted.

In [31]:
count = 1
number = 0
for place in places_list:
    for plant in use_dict[place]:
        for use in plant:
            tempo = use.copy()
            tempo.insert(0,count)
            if pd.isna(use[0]):
                continue
            cursor.execute(querys[4],tempo)
            number = number + 1
        count = count + 1
# Commit the changes
connection.commit()
# Confirm the number of rows inserted
print(f"{number} rows inserted.")

456 rows inserted.

In [32]:
count = 1
number = 0
for place in places_list:
    for plant in research_prev_dict[place]:
        for element in plant:
            tempo = []
            if pd.isna(element):
                continue
            tempo.append(count)
            tempo.append(None)
            tempo.append(element)
            cursor.execute(querys[2],tempo)
            number = number + 1 
        count = count + 1
# Commit the changes
connection.commit()
# Confirm the number of rows inserted
print(f"{number} rows inserted.")

335 rows inserted.

In [33]:
count = 1
number = 0 
for place in places_list:
    for plant in toponimo_dict[place]:
        tempo = []
        for element in plant:
            if pd.isna(element):
                tempo.append(None)
            else:
                tempo.append(element)
        if tempo.count(None) == len(tempo):
            count = count + 1
            continue
        else: 
            tempo.insert(0,count)
            cursor.execute(querys[3], tempo)
            number = number + 1
            count = count + 1

# Commit the changes
connection.commit()
# Confirm the number of rows inserted
print(f"{number} rows inserted.")

178 rows inserted.

In [34]:
# Close the connection
cursor.close()
connection.close()

In [35]:
# Verificar conexi√≥n
if connection.is_connected():
    print("Conexi√≥n exitosa a MySQL")
    cursor = connection.cursor()
    cursor.execute("SELECT DATABASE();")
    db_name = cursor.fetchone()
    print("Base de datos actual:", db_name[0])
else:
    print("Fuera de conexion a MySQL")

Fuera de conexion a MySQL